<a href="https://colab.research.google.com/github/Analonsobar/NI2-Data-Science-Meetings-Assignment-2024-AAB/blob/main/NextImmun2PythonFinalExam_AAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## This Jupyter Notebook serves as a demo Workflow of cleaning and exploring IgE measurements with Pax for an allergen panel involve testing blood samples to detect Immunoglobulin E (IgE) antibody levels against specific allergens using the Pax system.

Fill in the empty code cells below. Feel free to add more code cells if needed.

### Data upload:
- Use the upload button on the left to upload the file: 'PAX_Data.xlsx'
- By default the data should have been upload to into the folder '/content'

## Load the required modules
- Just run the following code-cell to load all modules needed for this exercise

In [ ]:
import os
import pandas as pd
import numpy as np

### Checking the working directory:
- use 'os.getcwd()' method to check for the current working directory.
- If you are using Google Colab, the default working directory should be the folder 'content'
- If not, use the 'os. chdir(<path>)' method to make sure to set the working directory

In [ ]:
os.getcwd()

'/content'

## Read the excel file
- if you are not using Google Colab, make sure to set the path to your data file correctly: \'<FILE-PATH\>/PAX_Data.xlsx'
- use: 'Sheet1' as sheet_name
- ignore the header: header=None
- assign the loaded data to a variable called: df

In [ ]:
df = pd.read_excel('PAX_Data.xlsx', sheet_name='Sheet1', header=None)

### Print the 'shape' of the dataframe

In [ ]:
print(df.shape)

(250, 6616)

### Print the number of rows:

In [ ]:
rows=len(df)
print(rows)

250

### Use the 'head' method to have a look at the first 10 rows of the table

In [ ]:
print(df.head(10))

           0                1               2               3     \
0  Date of test       2023-04-13      2023-04-13      2023-04-13
1   Test number      2334000487D     2331000683D     2331000884D
2       Country            Spain      Netherland         Germany
3       Age Y/M  3Years 11Months  2Years 8Months  2Years 8Months
4           Sex           Female            Male            Male
5         Cyn d             18.5           19.67           20.11
6      rCyn d 1            22.99           21.95           20.66
7         Dac g            19.15           19.57           21.78
8         Fes p            21.84            21.3           26.96
9      rLol p 1            22.33           22.23           22.59

             4                 5               6               7     \
0      2023-04-13        2023-04-13      2023-04-13      2023-04-13
1     2331000880D       2331000851D     2331001025D     2331000881D
2         Germany        Netherland          Sweden         Germany
3  7Years 9Months  11Years 11Months  4Years 8Months  1Years 9Months
4          Female              Male          Female            Male
5           18.09             17.92           17.78           18.64
6           21.68             20.56           21.62           22.83
7           18.37             18.12           19.35           19.95
8           24.05             23.21           22.62           21.98
9           21.99             23.16           21.27           22.99

             8               9     ...            6606            6607  \
0      2023-04-13      2023-04-13  ...      2023-06-30      2023-06-30
1     2331000879D     2344000227D  ...     2334002233D     2348000664D
2         Germany              UK  ...        Slovenia          Poland
3  6Years 9Months  3Years 8Months  ...  8Years 8Months  3Years 7Months
4          Female          Female  ...          Female          Female
5            21.3            20.5  ...           16.33           17.18
6            23.2           25.07  ...           23.27           21.77
7           21.52           20.55  ...           19.28           20.33
8           24.55           20.39  ...           21.14           22.39
9           23.95           21.35  ...           17.81           19.57

             6608            6609            6610            6611  \
0      2023-06-30      2023-06-30      2023-06-30      2023-06-30
1     2331003597D     2331003185D     2331003447D     2334002232D
2         Belgium          Norway      Netherland        Slovenia
3  3Years 7Months  1Years 5Months  1Years 5Months  2Years 5Months
4          Female          Female          Female            Male
5           15.48           15.79           18.64           17.44
6           21.78           20.69           26.49           20.76
7           17.34           19.06           18.86           17.84
8           20.93           21.78           19.95           20.64
9           22.76           21.23           21.77           19.41

             6612            6613            6614            6615
0      2023-06-30      2023-06-30      2023-06-30      2023-06-30
1     2344000712D     2331003547D     2344000711D     2334002236D
2              UK      Netherland              UK           Spain
3  2Years 5Months  2Years 5Months  2Years 5Months  2Years 5Months
4            Male            Male            Male            Male
5           17.05           18.42           19.03           16.73
6           21.07           24.48            21.4           20.12
7           18.67           19.99           21.01            17.4
8           20.79           19.24           24.33           20.77
9           22.32           20.15            22.7           20.96

[10 rows x 6616 columns]

### Splitting the Data:
- As you can see, row 0 to 4 contains the metadata of the experiment
- Row 5 to end contains the measured expression data of Allergens

Now, we need to split the data into:
- Metadata and
- Expression data

Check the documentation of the pandas method 'iloc'
- Split the data, row 0 to 4 and assing it to a variable called: md
- From row 5 to end, assing the expression data to a variable called: expr

In [ ]:
md = df.iloc[0:5]

In [ ]:
expr = df.iloc[5:]

### Print the 'shape' of each new table

In [ ]:
print(md.shape)
print(expr.shape)

(5, 6616)
(245, 6616)

### Use the 'head' method to inspect the expr table

In [ ]:
print(expr.head())

       0      1      2      3      4      5      6      7      8      9     \
5     Cyn d   18.5  19.67  20.11  18.09  17.92  17.78  18.64   21.3   20.5
6  rCyn d 1  22.99  21.95  20.66  21.68  20.56  21.62  22.83   23.2  25.07
7     Dac g  19.15  19.57  21.78  18.37  18.12  19.35  19.95  21.52  20.55
8     Fes p  21.84   21.3  26.96  24.05  23.21  22.62  21.98  24.55  20.39
9  rLol p 1  22.33  22.23  22.59  21.99  23.16  21.27  22.99  23.95  21.35

   ...   6606   6607   6608   6609   6610   6611   6612   6613   6614   6615
5  ...  16.33  17.18  15.48  15.79  18.64  17.44  17.05  18.42  19.03  16.73
6  ...  23.27  21.77  21.78  20.69  26.49  20.76  21.07  24.48   21.4  20.12
7  ...  19.28  20.33  17.34  19.06  18.86  17.84  18.67  19.99  21.01   17.4
8  ...  21.14  22.39  20.93  21.78  19.95  20.64  20.79  19.24  24.33  20.77
9  ...  17.81  19.57  22.76  21.23  21.77  19.41  22.32  20.15   22.7  20.96

[5 rows x 6616 columns]

As you can see column 0 contains the name of the Allergens

- Set the Allergen names as the index of the table (similar to rownames in R)example:   'expr.index = ...'
- 'drop' the column 0 and override the current variable

### Cleaning the Metadata
- Use 'head' to look into the metadata
Note that we want to use the rows as columns, therefore:
- Transpose the metadata
- Change the table: row 0 should be the column names

- Make sure to remove the first row, which now has become the column names

### Use 'head' to inspect your table and make sure it looks as below:

	Date of test Test number	Country	Age Y/M**

1	2023-04-13	2334000487D	Spain	3Years 11Months

2	2023-04-13	2331000683D	Netherland	2Years 8Months

3	2023-04-13	2331000884D	Germany	2Years 8Months

4	2023-04-13	2331000880D	Germany	7Years 9Months

5	2023-04-13	2331000851D	Netherland	11Years 11Months

### Rename the Metadata columns
- rename the columns 'Date of test' to 'Date', 'Test number' to 'TestID' and 'Age Y/M' to 'Age (M)'

### Convert the Age column
The function below converts a string into a number of total month e.g.:

"2Years 8Months" convert to 32.0

- use the below function to convert each 'string' from the Age column into a number (float)
- Hint: check the function '.apply(convert_to_month)' which works on a dataframe column

In [ ]:
import re

def convert_to_months(duration_str):
        # Check for missing or empty entries
    if pd.isnull(duration_str) or duration_str.strip() == "":
        return None


    # Regular expression to find years and months in the input string
    year_pattern = re.compile(r"(\d+)\s*Years?")
    month_pattern = re.compile(r"(\d+)\s*Months?")

    # Search for years and months in the input string
    years_match = year_pattern.search(duration_str)
    months_match = month_pattern.search(duration_str)

    # Extract years and months from the matches
    years = int(years_match.group(1)) if years_match else 0
    months = int(months_match.group(1)) if months_match else 0

    # Convert years to months and add to months
    total_months = (years * 12) + months

    return int(total_months)

In [ ]:
# convert md['Age (M)'] to number
# write your code here:

Check the result with 'head'

### Rename the columns of expr
- use the Test Number from md['Test number'] as new column names for the expr data

### Print the shapes of both tables
- check if the number of columns in expr matches the number of rows in md

### Dropping duplicates and keep='first'

In [ ]:
# This function can be use to inspect if there a duplictes within a column
md['TestID'].duplicated()

In [ ]:
# remove duplicate values in TestID column
# Hint: check the function: 'drop_duplicates'
# Hint: use the parameter 'keep='first'' to keep the first occurance and remove following duplicates

### Don't forget to drop the duplicates on the expression data as well:

In [ ]:
# example:

# df = df.loc[:, ~df.columns.duplicated()]

# where df.columns.duplicated(): returns a boolean array of duplicates
# ~ negates the boolean values: True is False and False is True

### Print the shapes of both table and make sure the number of rows in md and the number of columns in expr are matching

### Saving the DATA
After initial cleaning, let's save the data in its current form:
- save both tables as csv file in the current directory

### Subsetting the data
- subset the metadata and expression data to county = 'Spain'

Hint: use the TestID on the filtered data to subset on the expression data

In [ ]:
md_spain = md.loc[md.Country == 'Spain', :]

testIdSpain = md.TestID[md.Country == 'Spain']

- Print the shapes to check the result

# Exploration of the expression data
To gain an initial understanding of the expression data, we need to filter out the noise. Currently, noise is defined as values below 30.

- Convert the expr dataframe into a numpy array
- Set values below 30 to 0.0

Remove rows were all values are 0
- use the 'sum' method (axsis = 1) to the the sums of each row
- use this rowsum values to subset the array

In [ ]:
# Convert to numpy

In [ ]:
# Set values below 30 to 0
# Hint:
# 'my_array < value' will return a boolean array which can be used

In [ ]:
# Calculate row sums


# Filter rows where the sum is not 0

### Visualize the Expression Data

The follwing code is provided. Just make sure you replace the names of the variables with your variable names.

In [ ]:
import seaborn as sns
# import pandas as pd
from sklearn.cluster import KMeans  # Example clustering algorithm
from sklearn.preprocessing import StandardScaler

In [ ]:
# Standardize data (optional)
scaler = StandardScaler()
scaled_exp = scaler.fit_transform(filtered_df) # use the name of your array

In [ ]:
# Create the clustermap with hierarchical clustering
sns.clustermap(scaled_exp,
               method='ward',  # Linkage method (ward, single, complete, average, etc.)
               metric='euclidean',  # Distance metric (euclidean, cityblock, etc.)
               cmap="YlGnBu",       # Colormap
               figsize=(10, 8))    # Figure size

### Right click the plot and save the heatmap as image

# Done. Congratulations!